node_modules
.pnp
.pnp.js
.turbo
.vercel
.temp
.tmp

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
*.pem

dist
.next/
out/
build
/coverage
/.nyc_output

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.DS_Store
Thumbs.db
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json